<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="d25d9304-0287-4e9f-8f38-f90bd96282e0"
            Publisher="CN=Lyuben"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>UI</DisplayName>
    <PublisherDisplayName>Lyuben</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="UI.App">
        <VisualElements
            DisplayName="UI"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="UI"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>